body {
    background-color: lightgray;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.main-container {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    padding: 1 rem;
    max-width: 17rem;
    margin-bottom: 1rem;
}

.qr-img {
    width: 100%;

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }